In [1]:
import pandas as pd

In [2]:
movies_df = pd.read_csv('data/movies.csv')
ratings_df = pd.read_csv('data/ratings.csv')
tags_df = pd.read_csv('data/tags.csv')
links_df = pd.read_csv('data/links.csv')

## `user_movie_matrix`

In [3]:
user_movie_matrix = pd.pivot_table(data=ratings_df,
                                  values='rating',
                                  index='userId',
                                  columns='movieId',
                                  fill_value=0)
user_movie_matrix.head(10)

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,4.0,0.0,0.0,4.0,0.0,0,0.0,0.0,...,0.0,0,0,0,0.0,0,0.0,0.0,0.0,0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,...,0.0,0,0,0,0.0,0,0.0,0.0,0.0,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,...,0.0,0,0,0,0.0,0,0.0,0.0,0.0,0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,...,0.0,0,0,0,0.0,0,0.0,0.0,0.0,0
5,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,...,0.0,0,0,0,0.0,0,0.0,0.0,0.0,0
6,0.0,4.0,5.0,3.0,5.0,4.0,4.0,3,0.0,3.0,...,0.0,0,0,0,0.0,0,0.0,0.0,0.0,0
7,4.5,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,...,0.0,0,0,0,0.0,0,0.0,0.0,0.0,0
8,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0,0.0,2.0,...,0.0,0,0,0,0.0,0,0.0,0.0,0.0,0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,...,0.0,0,0,0,0.0,0,0.0,0.0,0.0,0
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,...,0.0,0,0,0,0.0,0,0.0,0.0,0.0,0

## Cosine similarity correlation matrix

In [4]:
from sklearn.metrics.pairwise import cosine_similarity

movie_cosines_matrix = pd.DataFrame(cosine_similarity(user_movie_matrix.T),
                                    columns=user_movie_matrix.columns,
                                    index=user_movie_matrix.columns)
movie_cosines_matrix

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
movieId,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.410562,0.296917,0.035573,0.308762,0.376316,0.277491,0.131629,0.232586,0.395573,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.410562,1.000000,0.282438,0.106415,0.287795,0.297009,0.228576,0.172498,0.044835,0.417693,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.296917,0.282438,1.000000,0.092406,0.417802,0.284257,0.402831,0.313434,0.304840,0.242954,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.035573,0.106415,0.092406,1.000000,0.188376,0.089685,0.275035,0.158022,0.000000,0.095598,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.308762,0.287795,0.417802,0.188376,1.000000,0.298969,0.474002,0.283523,0.335058,0.218061,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193581,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
193583,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
193585,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
193587,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
193609,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.072542,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [5]:
# cosine matrix of movieid : 318 with other movies including 318(self) : rows 9724
pd.DataFrame(movie_cosines_matrix[318])

              318
movieId
1        0.508545
2        0.376273
3        0.218246
4        0.133745
5        0.220509
...           ...
193581   0.000000
193583   0.000000
193585   0.000000
193587   0.000000
193609   0.062603

[9724 rows x 1 columns]

In [6]:
# cosine matrix with self
pd.DataFrame(movie_cosines_matrix[318]).loc[318]

318    1.0
Name: 318, dtype: float64

In [7]:
# recommendation for movieid 318 , Shawshank Redemption, The (1994)
# can replace with choice of movieId here 

movieId = 318   
n = 10

# Create a DataFrame using the values from 'movies_cosines_matrix' for the 'movieId'
cosines_df = pd.DataFrame(movie_cosines_matrix[movieId])

# Remove the row with the index given movieId
cosines_df = cosines_df[cosines_df.index != movieId]

# Sort the 'cosines_df' by the column 'movieId' column in descending order.
cosines_df = cosines_df.sort_values(by=movieId, ascending=False)

# Find out the number of users rated both The given movieId and the other movie
no_of_users_rated_both_movies = [sum((user_movie_matrix[movieId] > 0) & (user_movie_matrix[movieId] > 0)) for movieId in cosines_df.index]

# Create a column for the number of users who rated the movieId and the other movie
cosines_df['users_who_rated_both_movies'] = no_of_users_rated_both_movies

# Remove recommendations that have less than 10 users who rated both movies.
cosines_df = cosines_df[cosines_df["users_who_rated_both_movies"] > 10]

# columns for movie details
movie_info_columns = ['movieId','title','genres']

# Get the names for the related movies
top_n_cosine = (cosines_df
                          .head(n)   # this would give us the top n book-recommendations
                          .reset_index()
                          .merge(movies_df.drop_duplicates(subset='movieId'),
                                  on='movieId',
                                  how='left')
                          [movie_info_columns + [movieId,'users_who_rated_both_movies']]
                          )

top_n_cosine

,movieId,title,genres,318,users_who_rated_both_movies
0,356,Forrest Gump (1994),Comedy|Drama|Romance|War,0.712993,329
1,296,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,0.702366,307
2,593,"Silence of the Lambs, The (1991)",Crime|Horror|Thriller,0.647066,279
3,50,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,0.631787,204
4,527,Schindler's List (1993),Drama|War,0.629145,220
5,2959,Fight Club (1999),Action|Crime|Drama|Thriller,0.606644,218
6,110,Braveheart (1995),Action|Drama|War,0.597317,237
7,2571,"Matrix, The (1999)",Action|Sci-Fi|Thriller,0.589155,278
8,150,Apollo 13 (1995),Adventure|Drama|IMAX,0.578835,201
9,47,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,0.564136,203

## Function: top n movies - recommend similar movies (item based)

In [8]:
def top_n_item_based(movieId, n):
    # Create a DataFrame using the values from 'movies_cosines_matrix' for the 'movieId'
    cosines_df = pd.DataFrame(movie_cosines_matrix[movieId])

    # Remove the row with the index given movieId
    cosines_df = cosines_df[cosines_df.index != movieId]

    # Sort the 'cosines_df' by the column 'movieId' column in descending order.
    cosines_df = cosines_df.sort_values(by=movieId, ascending=False)

    # Find out the number of users rated both The given movieId and the other movie
    no_of_users_rated_both_movies = [sum((user_movie_matrix[movieId] > 0) & (user_movie_matrix[movieId] > 0)) for movieId in cosines_df.index]

    # Create a column for the number of users who rated the movieId and the other movie
    cosines_df['no_users_rated_both_movies'] = no_of_users_rated_both_movies

    # Remove recommendations that have less than 10 users who rated both movies.
    cosines_df = cosines_df[cosines_df["no_users_rated_both_movies"] > 10]

    # columns for movie details
    movie_info_columns = ['movieId','title','genres']

    # Get the names for the related movies
    top_n_movie = (cosines_df
                          .head(n)   # this would give us the top n book-recommendations
                          .reset_index()
                          .merge(movies_df.drop_duplicates(subset='movieId'),
                                  on='movieId',
                                  how='left')
                          [movie_info_columns + [movieId,'no_users_rated_both_movies']]
                          )

    return top_n_movie

In [9]:
top_5_318 = top_n_item_based(movieId=318, n=5)
top_5_318

,movieId,title,genres,318,no_users_rated_both_movies
0,356,Forrest Gump (1994),Comedy|Drama|Romance|War,0.712993,329
1,296,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,0.702366,307
2,593,"Silence of the Lambs, The (1991)",Crime|Horror|Thriller,0.647066,279
3,50,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,0.631787,204
4,527,Schindler's List (1993),Drama|War,0.629145,220

In [10]:
top_n_item_based(movieId=9, n=5)

,movieId,title,genres,9,no_users_rated_both_movies
0,786,Eraser (1996),Action|Drama|Thriller,0.511512,64
1,79,"Juror, The (1996)",Drama|Thriller,0.439593,17
2,743,Spy Hard (1996),Comedy,0.438614,29
3,737,Barb Wire (1996),Action|Sci-Fi,0.438307,20
4,762,Striptease (1996),Comedy|Crime,0.420019,41

In [11]:
top_n_item_based(movieId=1, n=5)

,movieId,title,genres,1,no_users_rated_both_movies
0,3114,Toy Story 2 (1999),Adventure|Animation|Children|Comedy|Fantasy,0.572601,97
1,480,Jurassic Park (1993),Action|Adventure|Sci-Fi|Thriller,0.565637,238
2,780,Independence Day (a.k.a. ID4) (1996),Action|Adventure|Sci-Fi|Thriller,0.564262,202
3,260,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi,0.557388,251
4,356,Forrest Gump (1994),Comedy|Drama|Romance|War,0.547096,329